html {
    background: #0e0e0e;
    font-family: "Nunito Sans", sans-serif;
    font-size: x-large;
    color: #fafafa;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #56a7b1;
}

ul {
    list-style-type: disc;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 35px;
    -moz-border-radius: 15px;
}

#top-navigation-bar {
    background: #101544;
    position: fixed;
    width: 100%;
    padding: 0 1em 0 1em;
    margin: 0;
    top: 0;
    left: 0;
    box-shadow: 0 5px 5px 2px rgba(0,0,0,0.4);
    display: grid;
    grid-template-columns: 1.4fr 1fr;
}

#navigation-links {
    list-style: none;
    text-align: center;
}

#navigation-links li {
    display: inline-block;
    padding: 0 0.5rem;
    text-align: center;
    color: white;
}

#navigation-links li:not(:last-child) {
    border-right: 1px solid black;
}

#intro-content {
    padding: 5% 15% 0 15%;
}

#intro-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#hey-text {
    padding: 35% 0 0 0;
    font-size: xx-large;
    border-radius: 35px;
}

#intro-image {
    grid-column: 2;
    text-align: right;
}

#main-content {
    background: #202020;
}

.center-padded {
    padding: 1em 15% 5% 15%;
}

.section {
    padding: 1em 1em 1em 1em;
    margin-top: 5%;
    margin-bottom: 5%;
    background: #252525;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

.section-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-header-text {
    /*grid-column: 1;*/
}
